@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
h3 {
    text-align: center;
}

.card-body {
    background-color: whitesmoke;
}

label {
    font-weight: bold;
    display: inline-block;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

select.ng-touched.ng-invalid {
    border: 1px solid red;
}

textarea.ng-touched.ng-invalid {
    border: 1px solid red;
}

.p12 {
    display: inline-block;
    color: red;
}

.loading {
    color: white;
}

#Registerbutton {
    float: right;
    margin-top: 5px;
    margin: 20px;
    width: 30%;
}

#ResetButton {
    float: right;
    margin-top: 5px;
    margin: 20px;
    width: 30%;
}

.btn {
    margin-left: 20px;
    margin-top: 20px !important;
    border-radius: 5px !important;
    color: black !important;
    position: relative !important;
}

#b1 {
    margin-left: 20px;
    margin-top: 20px !important;
    border-radius: 5px !important;
    color: black !important;
    position: relative !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    text-align: center !important;
}

.box {
    box-sizing: border-box;
    height: 75px;
    padding: 5px;
    border: 1px solid #ccc;
}

.label {
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.count {
    font-size: 20px;
    font-weight: bold;
    /* margin-left: 70px; */
    text-align: center;
}

.fas {
    font-size: 30px;
    margin-left: 25px;
    margin-top: 10px;
    color: white;
    margin-right: 10px;
}

#r1 {
    margin-bottom: 30px;
}

form.searchbox input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    width: 85%;
    background: #F4F6F7;
  }
 
  form.searchbox button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #F5B041;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }
  
  form.searchbox button:hover {
    background: #F39C12;
  }
  
  form.searchbox::after {
    content: "";
    clear: both;
    display: table;
  }