<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
    <p class="loading">Loading Awesomeness...</p>
</ngx-spinner>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3> Raise Complaint </h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit(fb)">

                        <div class="form-group">
                            <label>Description<p class="p12">*</p></label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter Description"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors?.invalid }">
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.name">
                                <div class="error-message text-danger"
                                    *ngIf="formGroup.get('name').hasError(validation.type) && (formGroup.get('name').dirty || formGroup.get('name').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>

                       

                        <div class="form-group">
                            <label>Engineer Type<p class="p12">*</p></label>
                            <!-- <input  class="custom-select" (change)="changeCity($event)" formControlName="Machine_purchase" placeholder="select Machine"> -->
                            <select class="form-control"  formControlName="EngineerType"  placeholder=" Choose Engineer">
                                <option value="">Choose engg type</option>
                                <option *ngFor="let engg of enggList; let i= index" value="{{engg.key}}" [selected]="i == 0">{{engg.name}}</option>
                            </select>

                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.EngineerType">
                                    <div class="error-message text-danger"
                                        *ngIf="formGroup.get('EngineerType').hasError(validation.type) && (formGroup.get('EngineerType').dirty || formGroup.get('EngineerType').touched)">
                                        <span name="information-circle-outline"></span> {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Problem Starting Date<p class="p12">*</p></label>
                            <input type="text" class="form-control" formControlName="DateOfjoining"
                                placeholder="MM/DD/YYYY" bsDatepicker [bsConfig]="{ isAnimated: true }"
                                [maxDate]="maxDate" [ngClass]="{ 'is-invalid': submitted && f.DateOfjoining.errors?.invalid }">
                            <!-- <i class="fa fa-calendar"></i> -->
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.DateOfjoining">
                                <div class="error-message text-danger"
                                    *ngIf="formGroup.get('DateOfjoining').hasError(validation.type) && (formGroup.get('DateOfjoining').dirty || formGroup.get('DateOfjoining').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>

                        <div  id="serviceEnggModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                          
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                <div class="modal-body">
                                    <div class="alert alert-success fade show" *ngIf="showSuccessMsg" >
                                        <strong>Success!</strong>Registration Successfully!
                                    </div>
                                    <div class="alert alert-danger fade show" *ngIf="showInvalidMsg">
                                        <strong>Error! </strong>The email address or phone number you have entered is already registered!.
                                    </div>                                                                        
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                </div>
                              </div>                        
                            </div>
                          </div>                    

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="Registerbutton" data-toggle="modal" data-target="#serviceEnggModal" [disabled]="!formGroup.valid">
                                Register
                            </button>
                            <button type="reset" class="btn btn-secondary" id="ResetButton">
                                Reset Form
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>