.input-group{
    width: 50%;
    margin-left:25%;
}
h3{
    text-align: center;
}
.btn{
    border-radius: 10px;
}

.table{
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    margin-top: 20px;
    /* margin-bottom: 20px; */
    /* overflow-x:scroll; */
}
.form-cpntrol{
    margin: 10px;
    margin-top: 20px;
}
