<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <h3>List All Customer</h3>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Start searching for a customer Name or Mobilenumber or Email"
      name="search" [(ngModel)]="u_email" autocomplete="off">
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Machine Purchased</th>
        <th scope="col">DateOfPurchased</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of customersData |searchPipe:u_email;let i=index ">
        <td>{{item.u_id}}</td>
        <td>{{item.u_name}}</td>
        <td>{{item.u_mobile}}</td>
        <td>{{item.u_email}}</td>
        <td>{{item.u_address}}</td>
        <td>{{item.u_MachinePurchased}}</td>
        <td>{{item.u_dateOf_Purchased|date:'dd/mm/yyyy'}}</td>
        <td>{{item.u_password}}</td>
        <td style="display: flex">
          <button type="button" class="btn btn-warning btn-sm" [routerLink]="['edit',item.u_id]">Edit</button>
          <button type="button" class="btn btn-danger btn-sm ml-1" (click)="myModal.show()">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- </div> -->
  <!-- <div  *ngIf="alert " class="alert alert-warning alert-dismissible fade show">
    <strong>Warning!</strong> Please enter a valid value in all the required fields before proceeding.
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
  -->
</div>

<app-confirm-dialogmodal #myModal></app-confirm-dialogmodal>

<router-outlet></router-outlet>