<div class="container">
    <h3> Customer Details</h3>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Start searching for a customer Name or Mobilenumber or Email" name="search" 
      [(ngModel)]="u_email" autocomplete="off">
  </div>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Mobile</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Machine Purchased</th>
          <th scope="col">DateOfPurchased</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of customersData |searchPipe:u_email;let i=index ">
          <td>{{item.u_id}}</td>
          <td>{{item.u_name}}</td>
          <td>{{item.u_mobile}}</td>
          <td>{{item.u_email}}</td>
          <td>{{item.u_address}}</td>
          <td>{{item.u_MachinePurchased}}</td>
          <td>{{item.u_dateOf_Purchased |date:'dd/MM/yyyy'}}</td>
          <td>{{item.u_password}}</td>
          <td style="display: flex">
              <button type="button" class="btn btn-success btn-md" [routerLink]="['view',item.u_id]" (click)="spinner()">View</button>
          </td>
        </tr>
      </tbody>
    </table> 
  </div>

  <router-outlet></router-outlet>

