.input-group{
    width: 50%;
    margin-left:25%;
}
h3{
    text-align: center;
}
.btn{
    border-radius: 10px;
}
.table{
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    margin-top: 20px;
    /* margin-bottom: 20px; */
    /* overflow-x:scroll; */
}
.form-cpntrol{
    margin: 10px;
    margin-top: 20px;
}
/* Edit Button */
.btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}
.btn-success:hover, .btn-success:focus {
    background: skyblue;
}