<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Service Engineer Registration </h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit(fb)">

                        <div class="form-group">
                            <label>Name<p class="p12">*</p></label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter Your Name"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.name">
                                <div class="error-message text-danger"
                                    *ngIf="formGroup.get('name').hasError(validation.type) && (formGroup.get('name').dirty || formGroup.get('name').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>

                        <div class="form-group">
                            <label>Mobile Number<p class="p12">*</p></label>
                            <input type="text" class="form-control" formControlName="Mobilenumber"
                                placeholder="Enter Mobile Number"
                                [ngClass]="{ 'is-invalid': submitted && f.Mobilenumber.errors }">
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.Mobilenumber">
                                <div class="error-message text-danger"
                                    *ngIf="formGroup.get('Mobilenumber').hasError(validation.type) && (formGroup.get('Mobilenumber').dirty || formGroup.get('Mobilenumber').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>

                        <div class="form-group">
                            <label>Alternate Mobile Number</label>
                            <input type="text" class="form-control" formControlName="Alternatemobile"
                                placeholder="Enter Alternate Mobile Number"
                                [ngClass]="{ 'is-invalid': submitted && f.Alternatemobile.errors }">
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.Alternatemobile">
                                <div class="error-message text-danger"
                                    *ngIf="formGroup.get('Alternatemobile').hasError(validation.type) && (formGroup.get('Alternatemobile').dirty || formGroup.get('Alternatemobile').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>

                        <div class="form-group">
                            <label>Email<p class="p12">*</p></label>
                            <input type="email" class="form-control" formControlName="email"
                                placeholder="Enter Your Email"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.email">
                                <div class="error-message text-danger"
                                    *ngIf="formGroup.get('email').hasError(validation.type) && (formGroup.get('email').dirty || formGroup.get('email').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>


                        <div class="form-group">
                            <label>Address<p class="p12">*</p></label>
                            <input type="text" class="form-control" formControlName="Address"
                                placeholder="Enter Alternate Mobile Number"
                                [ngClass]="{ 'is-invalid': submitted && f.Address.errors }">
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.Address">
                                <div class="error-message text-danger"
                                    *ngIf="formGroup.get('Address').hasError(validation.type) && (formGroup.get('Address').dirty || formGroup.get('Address').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>

                        <div class="form-group">
                            <label>Engineer Type<p class="p12">*</p></label>
                            <!-- <input  class="custom-select" (change)="changeCity($event)" formControlName="Machine_purchase" placeholder="select Machine"> -->
                            <select class="custom-select" (change)="changeEngineer($event)" formControlName="Engineer1">
                                <option value="">Choose engg type</option>
                                <option *ngFor="let engg of Engg" [ngValue]="Engg">{{engg}}</option>
                            </select>

                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.Engineer1">
                                    <div class="error-message text-danger"
                                        *ngIf="formGroup.get('Engineer1').hasError(validation.type) && (formGroup.get('Engineer1').dirty || formGroup.get('Engineer1').touched)">
                                        <span name="information-circle-outline"></span> {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Date Of Joining<p class="p12">*</p></label>
                            <input type="text" class="form-control" formControlName="Datepurchased"
                                placeholder="MM/DD/YYYY" bsDatepicker [bsConfig]="{ isAnimated: true }"
                                [maxDate]="maxDate" [ngClass]="{ 'is-invalid': submitted && f.Datepurchased.errors }">
                            <!-- <i class="fa fa-calendar"></i> -->
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.Datepurchased">
                                <div class="error-message text-danger"
                                    *ngIf="formGroup.get('Datepurchased').hasError(validation.type) && (formGroup.get('Datepurchased').dirty || formGroup.get('Datepurchased').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>

                        <div class="form-group">
                            <label>Password<p class="p12">*</p></label>
                            <div class="input-group">
                            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password"
                                placeholder="Enter Your password"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa" [ngClass]="{'fa-eye-slash' : !fieldTextType,'fa-eye' : fieldTextType}" id="btn1" (click)="toggleFieldTextType(1)"></i>
                                    </span>
                                 </div> 
                            </div>
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.password">
                                <div class="error-message text-danger"
                                    *ngIf="formGroup.get('password').hasError(validation.type) && (formGroup.get('password').dirty || formGroup.get('password').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group ">
                            <label class="control-label">Confirm Password<p class="p12">*</p></label>
                            <div class="input-group">
                            <input [type]="fieldTextType ? 'text':'password'" class="form-control" formControlName="confirmPassword"
                                placeholder="ConfirmPassword"
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
                                
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa" [ngClass]="{'fa-eye-slash' : !fieldTextType,'fa-eye' : fieldTextType}" id="btn2" (click)="toggleFieldTextType()"></i>
                                    </span>
                                 </div>
                                </div>
                        </div>
                        <div class="validation-errors">
                            <div *ngIf="!alert" class="alert alert-warning"><strong>Warning! </strong>Passwords must
                                match</div>
                            <ng-container *ngFor="let validation of validation_messages.confirmPassword">
                                <div class="error-message text-danger"
                                    *ngIf="formGroup.get('confirmPassword').hasError(validation.type) && (formGroup.get('confirmPassword').dirty || formGroup.get('confirmPassword').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>

                        </div>

                        <div class="form-group">
                            <button type="submit" [disabled]="loading" class="btn btn-primary"
                                [disabled]="!formGroup.valid">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Register
                            </button>
                            <button type="reset" class="btn btn-secondary " style="float:right;margin-top: 5px;">
                                Reset Form
                            </button>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
