.row{
    width: 100%;
}
h3 {
    text-align: center;
}
.btn {
    border-radius: 10px;
    margin: 5px;
}
.dropdown-menu{
    text-align: center;
    min-width: 0;
    padding: 0px;
    padding-top: 0px;
}
.dropdown-menu .viewItem:hover {
    background-color: #32c4b1
}
.table {
    margin-top: 20px;
    border: 1px solid black;
    }
.table td,th{
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table tr:hover {
    background-color: #ddd;
}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
.form-control {
    margin-top: 20px;
    background-color: #edeeee;
    align-items: center;
 }
.fa-search{
    color: white;
}
button .close{
    padding: 0px;
    border: none;
}
span.input-group-text{
    background-color: royalblue;
 }
.searchicon{
    margin-left: 20%;
}