.row{
    width: 100%;
}
h3 {
    text-align: center;
}
.btn {
    border-radius: 10px;
}
.dropdown-menu{
    text-align: center;
    min-width: 0;
    padding: 0px;
    padding-top: 0px;
}
.dropdown-menu .viewItem:hover {
    background-color: #32c4b1;
}
.table {
        margin-top: 20px;
        width: 100%;
        }        
.table td,th{
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table tr:hover {
    background-color: #ddd;
}
thead, th {
    padding-top: 20px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .form-control {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #edeeee;
    align-items: center;
    border-bottom:groove;
    border: groove;
}
.fromicon{
    margin-left: 20%;
}
.fa{
    color: white;
}
span.input-group-text{
    background-color: royalblue;
    border-bottom: groove;
    border: groove;
}
