.row{
    width: 70%;
    margin-left: 5%;
}
h3 {
    text-align: center;
}
.btn {
    border-radius: 10px;
}
.table {
        margin-top: 20px;
        width: 100%;
        }
        
.table td,th{
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table tr:hover {
    background-color: #ddd;
}
thead, th {
    padding-top: 20px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
.form-control {
    margin: 10px;
    margin-left: 30%;
    margin-top: 20px;
    align-items: center;
}
.btn {
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}
.btn-danger {
    background: #f15e5e;
}
.btn-danger:hover,
.btn-danger:focus {
    background: #ee3535;
}
/* .container{
    margin: 30px;
    margin-left: 40px;
} */
