.row{
    width: 70%;
    margin-left: 5%;
}
h3 {
    text-align: center;
}
.btn {
    border-radius: 10px;
}
.dropdown-menu{
    text-align: center;
    min-width: 0;
    padding: 0px;
    padding-top: 0px;
}
.dropdown-menu .viewItem:hover {
    background-color: rgb(152, 125, 226);
}
.dropdown-menu .deleteItem:hover{
    background-color: rgb(246, 70, 70);
}
.table {
        margin-top: 20px;
        width: 100%;
        }        
.table td,th{
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table tr:hover {
    background-color: #ddd;
}
thead, th {
    padding-top: 20px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
.form-control {
    margin: 10px;
    margin-left: 30%;
    margin-top: 20px;
    align-items: center;
}
