
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

h3{
    text-align: center;
}
.card-body{
    background-color: whitesmoke;
}
label{
    font-weight: bold;
    display: inline-block;
}
input.ng-touched.ng-invalid {
    border: 1px solid red;   
  }

select.ng-touched.ng-invalid {
    border: 1px solid red;   
  }
  textarea.ng-touched.ng-invalid {
    border: 1px solid red;   
  }
.p12{
    display: inline-block;
    color: red;
}
 .loading{
     color: white;
 }

 #Registerbutton{
    float:right;
    margin-top: 5px;
    margin: 20px;
    width: 30%;
 }
 #ResetButton{
    float:right;
    margin-top: 5px;
    margin: 20px;
    width: 30%;
     
 }