<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Admin Home</a>                
        </div>
    </nav>
     
    <div id="barchart2">
         <canvas id="piechart" width="50" height="50"></canvas>
     </div>            

    <!-- Footer -->
    <footer class="py-5 bg-dark" class="navbar navbar-expand-sm navbar-dark bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
    </footer>
</body>