.my-4
{
margin-top: 50px;

}
.nav-item{
  /*   background-color: rgb(95, 102, 95);
   */  color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .nav-item{
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-item a:hover {background-color: rgb(221, 221, 221);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .nav-item:hover.nav-item{background-color: #7212f0;}
  