.btn{
  border-radius: 5px;
  color: black;
  width: 100%;
  position: relative;
}
.col-md-6{
  margin-top:10px;
}
.charts{
  height:40vh; 
  width:30vw;
  position: relative;
  margin-top: 30px !important;
  float: left;
  margin-left: 0px;
}
.chart-container{
  margin-top: 30px;
}
.fas{
  font-size: 30px;
  margin-top: 10px;
  float: right;
  color:black;
}
.fa{
  font-size: 30px;
  margin-top: 10px;
  float: right;
  color:black;
}
.fa-trash{
  color: red;
  margin: 0px;
  font-size: 20px;
}
.row .form-control::placeholder{
  color: rgba(0, 0, 0, 0.7);
	font-size: 14px;
	text-transform: capitalize;
}
.col-md-4{
  margin-top: 20px;
}
.btnCard{
  margin-bottom: 20px;
}
.complainttable{
  margin-top: 30px;
}
.table-responsive{
  margin-top: 10px;
}
label {
  font-weight: bold;
  display: inline-block;
}
.label {
  text-align: center;
  font-weight: bold;
  margin: auto;
}
.box {
  box-sizing: border-box;
  height: 75px;
  padding: 5px;
  border: 1px solid #ccc;
}
#r1 {
  margin-bottom: 30px;
}
.count {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.card-body{
  padding-top: 0px;
}
.deletebtn{
  width: 80px;
  float: right;
  color:white;
}
.modal-header .close{
  padding: none;
  margin: none;
}
.row .form-control{
  color: #555;
	letter-spacing: 1px;
	height: 37px;
  margin-top: 5px;
}

.fa-search{
  color: white;
  font-size: 20px;
  margin-top: 0px;
  float:none;
}
span.input-group-text{
  background-color: royalblue;
  align-items: center;
}
