.btn{
  margin-top: 20px;
  border-radius: 5px;
  color: black;
  width: 100%;
  position: relative;
}
.col-md-6{
  margin-top:10px;
}
.charts{
  height:40vh; 
  width:30vw;
  position: relative;
  margin-top: 30px !important;
  float: left;
  margin-left: 0px;
}
.chart-container{
  margin-top: 30px;
}
.fas{
  font-size: 30px;
  margin-top: 10px;
  float: right;
  color:white;
}
.fa{
  font-size: 30px;
  margin-top: 10px;
  float: right;
  color:white;
}
.row .form-control{
  color: #555;
	letter-spacing: 1px;
	height: 37px;
	padding: 2px 15px 2px 35px;
  border-radius: 50px;
  margin-top: 5px;
}
.row .form-control::placeholder{
  color: rgba(0, 0, 0, 0.7);
	font-size: 14px;
	text-transform: capitalize;
}
.col-md-2{
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: medium;
  text-align: center;
}
.col-md-8{
  margin-bottom: 5px;
  margin-top: 5px;
   width: 100%;
}
.table-responsive{
  margin-top: 10px;
}
.lable{
  font-weight: bold;  
}
.count{
  font-size: 20px;}
.mb-4{
  margin-top: 25px;
}
.card-body{
  padding-top: 0px;
}