<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>
<!-- <div [formGroup]="formGroup"> -->
<div class="container" *ngIf="complaint">
    <div class="row">
        <div class='card'>
            <div class='card-header' id="r1">
                <b> {{pageTitle}}</b>
            </div>
            <div class='card-body'>
                <div class='row'>
                    <div class='col-md-1' style="margin-left: 21px;margin-top: 5px; font-size: medium;"><b>Filter By</b>
                    </div>
                    <div class='col-md-8'>
                        <input style="margin-bottom: 17px;" class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" />
                    </div>
                </div>
                <div class='row' *ngIf='listFilter'>
                    <div class='col-md-6'>
                        <h4> Filtered by: {{content}}</h4>
                    </div>
                </div>
                <div class='table-responsive'>
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Complaint</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of complaint | filter:searchText">
                                <td>
                                    {{user.c_id}}
                                </td>
                                <td>
                                    {{user.c_desc}}
                                </td>
                                <td>
                                    {{user.c_date}}
                                </td>
                                <td>{{user.c_status}}</td>
                                <td>
                                    <button class='btn btn-primary' (click)="openModal(user)">View</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal  -->
<div id="customerModal" class="modal fade" role="dialog">
    <div>
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 style="color: #337ab7;">Complaint Details </h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success fade show">
                        <div class="row" style="margin-top:8px">
                            <div class="col-md-2">
                                <label style="margin-top:12px"><b>Complaint Id:</b></label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="c_id" [ngModel]="assignData.c_id" class="form-control" id="c_id" disabled>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-2">
                                <label style="margin-top:12px"><b>Customer Name:</b></label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="engg_name" [ngModel]="assignData.c_name" class="form-control" id="engg_name" disabled>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-2">
                                <label style="margin-top:12px"><b>Mobile Number:</b></label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="engg_name" [ngModel]="assignData.u_mobile" class="form-control" id="engg_name" disabled>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-2">
                                <label style="margin-top:12px"><b>Alternative Mobile Number:</b></label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="engg_name" [ngModel]="assignData.u_altermobile" class="form-control" id="engg_name" disabled>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-2">
                                <label style="margin-top:12px"><b>Email:</b></label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="Email" [ngModel]="assignData.u_email" class="form-control" id="Email" disabled>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-2">

                                <label style="margin-top:12px"><b>Description:</b></label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="Email" [ngModel]="assignData.c_desc" class="form-control" id="Email" disabled>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-2">
                                <label style="margin-top:12px"><b>Complaint Date:</b></label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="Email" [ngModel]="assignData.c_date" class="form-control" id="Email" disabled>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-2">
                                <label style="margin-top:12px"><b>Photos:</b></label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="Email" placeholder="N/A" class="form-control" id="Email" disabled>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-2">
                                <label style="margin-top:12px"><b>Status:</b></label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="Email" [ngModel]="assignData.c_status" class="form-control" id="Email" disabled>
                            </div>
                        </div>
                        <div class="row" [formGroup]="formGroup" style="margin-top: 15px;">
                            <div class="col-md-2">
                                <label style="margin-top:12px"><b>Comments:</b></label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="comments " formControlName="comments" placeholder="Write your comments" class="form-control " id="Email" [ngClass]="{ 'is-invalid': submitted && f.comments.errors?.invalid }">
                            </div>
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.comments">
                                <div class="error-message text-danger" *ngIf="formGroup.get('comments').hasError(validation.type) && (formGroup.get('comments').dirty || formGroup.get('comments').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="row " [formGroup]="formGroup" style="margin-top: 15px; ">
                            <div class="col-md-2 ">
                                <label style="margin-top:12px "><b>Change Status:</b></label>
                            </div>
                            <div class="col-md-10 ">
                                <select class="form-control " placeholder="Change Status" formControlName="Status">
                                    <option value="">Choose your Status</option>
                                    <option *ngFor="let machine of Machinelist;let i=index " value="{{machine.key}} "
                                        [selected]="i==0 ">{{machine.name}} </option>
                                </select>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.Status">
                                        <div class="error-message text-danger" *ngIf="formGroup.get('Status').hasError(validation.type) && (formGroup.get('Status').dirty || formGroup.get('Status').touched)">
                                            <span name="information-circle-outline"></span> {{ validation.message }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div id="serviceEnggModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="alert alert-success fade show" *ngIf="showSuccessMsg">
                                            <strong>Success!</strong>Registration Successfully!
                                        </div>
                                        <div class="alert alert-danger fade show" *ngIf="showInvalidMsg">
                                            <strong>Error! </strong>The email address or phone number you have entered is already registered!.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit " class="btn btn-primary btn-lg btn-block " style="margin-top: 12px;padding-top: 2px !important;padding-bottom: 2px !important; " data-toggle="modal" data-target="#serviceEnggModal" (click)="addData()" [disabled]="!formGroup.valid">ADD DATA</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>