<!-- <header><h1>Customer Overview</h1></header> -->
<div class="container">
    <div *ngFor="let iteam of Viewcustomers">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h1>{{iteam.u_name}} </h1>
                </div>
                <div class="card-body">
                    <div class="col-md-4">
                        <img src="assets/Image/customer.png" alt="image">
                    </div>
                    <div class="row">
                        <h6>Id:</h6>
                        <p>{{iteam.u_id}}</p>
                    </div>
                    <div class="row">
                        <h6>Mobile:</h6>
                        <p>{{iteam.u_mobile}}</p>
                    </div>
                    <div class="row">
                        <h6>Alternate Mobile Number:</h6>
                        <p>{{iteam.u_altermobile}}</p>
                    </div>
                    <div class="row">
                        <h6>Email:</h6>
                        <p>{{iteam.u_email}}</p>
                    </div>
                    <div class="row">
                        <h6>Address:</h6>
                        <p>{{iteam.u_address}}</p>
                    </div>
                    <div class="row">
                        <h6>Machine Purchased:</h6>
                        <p>{{iteam.u_MachinePurchased}}</p>
                    </div>
                    <div class="row">
                        <h6>Purchased Type:</h6>
                        <p>{{iteam.u_purchase_con}}</p>
                    </div>
                    <div class="row">
                        <h6>Note:</h6>
                        <p>{{iteam.u_note}}</p>
                    </div>
                    <div class="row">
                        <h6>Machine No:</h6>
                        <p>{{iteam.u_MachineNo}}</p>
                    </div>
                    <div class="row">
                        <h6>Service Period:</h6>
                        <p>{{iteam.u_ServicePeriod}}</p>
                    </div>
                    <div class="row">
                        <h6>Warrenty:</h6>
                        <p>{{iteam.u_WarrentyPeriod}}</p>
                    </div>
                    <div class="row">
                        <h6>Date Of Purchased: </h6>
                        <p>{{iteam.u_dateOf_Purchased|date:'dd/MM/yyy'}}</p>
                    </div>
                    <div class="row">
                        <h6>Password:</h6>
                        <p>{{iteam.u_password}}</p>
                    </div>
                    <div class="row">
                        <h6>Confirm Password:</h6>
                        <p>{{iteam.u_cpassword}}</p>
                    </div>
                    <button class="btn btn-primary" (click)="back()"><i class="fa fa-arrow-left"></i>Back</button> 
                </div>
            </div>
        </div>
    </div>
</div>