.input-group{
    width: 50%;
    margin-left:25%;
}
p{
    margin-left: 10px;
}
.row{
    margin-left: 200px;
}
img{
    width: 130px;
    height: 130px;
}
.container{
    margin-left: 100px;
}
/* #row1{
    margin-left: 5;
} */
.card-header{
    text-align: center;
}
.btn{
    float:right;
    margin-top: 5px;
    margin: 20px;
    width: 30%;
    background-color:  #007bff;  
}
.fa{
    font-size: 24px;
    margin-right: 10px;
    }
.btn-primary:hover, .btn-primary:focus {
     background: black;
}