  #p1 {
      text-align: center;
  }
  
  nav {
      padding-top: 15px !important;
      padding-bottom: 15px !important;
  }
  
  .fas {
      margin-left: 10px !important;
      margin-right: 10px !important;
  }
  
  .nav-link.dropdown-toggle {
      background-color: #82c341 !important;
      color: #000000 !important;
      padding: 16px;
      font-size: 16px;
      border: none;
  }
  
  .nav-item.dropdown {
      position: relative;
      display: inline-block;
  }
  
  .dropdown-menu a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  
  .dropdown-menu a:hover {
      background-color: #32c4b1;
  }
  
  .nav-item.dropdown :hover .dropdown-content {
      display: block;
  }
  
  .nav-item.dropdown :hover.nav-link.dropdown-toggle {
      background-color: #32c4b1 !important;
  }
  
  .container {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
  
  nav {
      background-color: #82c341 !important;
      color: #000000 !important;
  }
  
  .navbar-brand {
      text-decoration: none;
      padding: 12px 23px;
      position: relative;
      display: inline-block;
      border-radius: 2px;
      color: #000000 !important;
  }
  
  .navbar-brand:hover {
      background-color: #32c4b1 !important;
  }
  
  .notification {
      background-color: #82c341!important;
      color: #000000 !important;
      text-decoration: none;
      padding: 8px 10px;
      position: relative;
      display: inline-block;
      border-radius: 2px;
  }
  
  .notification:hover {
      background-color: #32c4b1 !important;
  }
  
  .Logout {
      background-color: #82c341!important;
      color: #000000 !important;
      text-decoration: none;
      padding: 8px 10px;
      margin-left: 15px !important;
      position: relative;
      display: inline-block;
      border-radius: 1px;
  }
  
  .Logout:hover {
      background-color: #32c4b1 !important;
  }
  
  .badge-light {
      position: absolute;
      top: -10px;
      right: -10px;
      padding: 5px 10px;
      border-radius: 50%;
      background-color: red;
      color: white;
  }
  i {
      font-size: x-large;
  }
  .loading {
      color: white;
  }
  .active {
      background-color: #3e8e41;
  } 
  .active {
      background-color: #3e8e41;
  }
  .toast{
      border: 1px solid black;
  }