<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
    <p class="loading">Loading Awesomeness...</p>
</ngx-spinner>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3> Customer Registration </h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit(fb)">

                        <div class="form-group">
                            <label>Name<p class="p12">*</p></label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter Your Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors?.invalid }">
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.name">
                                <div class="error-message text-danger" *ngIf="formGroup.get('name').hasError(validation.type) && (formGroup.get('name').dirty || formGroup.get('name').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label>Mobile Number<p class="p12">*</p></label>
                            <input type="text" class="form-control" formControlName="Mobilenumber" placeholder="Enter Your Mobile Number" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f.Mobilenumber.errors?.invalid }">
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.Mobilenumber">
                                <div class="error-message text-danger" *ngIf="formGroup.get('Mobilenumber').hasError(validation.type) && (formGroup.get('Mobilenumber').dirty || formGroup.get('Mobilenumber').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label>Alternate Mobile Number</label>
                            <input type="text" class="form-control" formControlName="Alternatemobile" placeholder="Enter Your Alternate Mobile Number" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f.Alternatemobile.errors?.invalid }">
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.Alternatemobile">
                                <div class="error-message text-danger" *ngIf="formGroup.get('Alternatemobile').hasError(validation.type) && (formGroup.get('Alternatemobile').dirty || formGroup.get('Alternatemobile').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label>Email<p class="p12">*</p></label>
                            <input type="email" class="form-control" formControlName="email" placeholder="Enter Your Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors?.invalid }">
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.email">
                                <div class="error-message text-danger" *ngIf="formGroup.get('email').hasError(validation.type) && (formGroup.get('email').dirty || formGroup.get('email').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label>Address<p class="p12">*</p></label>
                            <textarea class="form-control" formControlName="Address" placeholder="Enter Your Address" [ngClass]="{ 'is-invalid': submitted && f.Address.errors?.invalid }"></textarea>
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.Address">
                                <div class="error-message text-danger" *ngIf="formGroup.get('Address').hasError(validation.type) && (formGroup.get('Address').dirty || formGroup.get('Address').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label>Machine Purchased<p class="p12">*</p></label>
                            <select class="form-control" formControlName="Machine_purchase" placeholder="Choose Your Machine">
                                <option value="">Choose your Machine</option>
                                <option *ngFor="let machine of Machinelist;let i=index" value="{{machine.name}}"
                                    [selected]="i == 0">{{machine.name}} </option>
                            </select>

                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.Machine_purchase">
                                    <div class="error-message text-danger" *ngIf="formGroup.get('Machine_purchase').hasError(validation.type) && (formGroup.get('Machine_purchase').dirty || formGroup.get('Machine_purchase').touched)">
                                        <span name="information-circle-outline"></span> {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gender">Purchased Type:<p class="p12">*</p></label>
                            <div class="form-control">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="New" name="machieCondition" formControlName="machieCondition" (change)="changeCondition($event)">
                                    <label id="New" for="New">New</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="Re-condition" name="machieCondition" formControlName="machieCondition" (change)="changeCondition($event)">
                                    <label id="Re-condition" for="Re-condition">Re-condition</label>
                                </div>
                            </div>
                            <div *ngIf="f.machieCondition.touched && f.machieCondition.invalid">
                                <!-- <div *ngIf="f.machieCondition.errors.required">Name is required.</div> -->
                            </div>
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.machieCondition">
                                <div class="error-message text-danger" *ngIf="formGroup.get('machieCondition').hasError(validation.type) && (formGroup.get('machieCondition').dirty || formGroup.get('machieCondition').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label>Note<p class="p12">*</p></label>
                            <textarea class="form-control" formControlName="Note" placeholder="Enter Your Note Here" [ngClass]="{ 'is-invalid': submitted && f.Note.errors?.invalid }"></textarea>
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.Note">
                                <div class="error-message text-danger" *ngIf="formGroup.get('Note').hasError(validation.type) && (formGroup.get('Note').dirty || formGroup.get('Note').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label>Machine No<p class="p12">*</p></label>
                            <input type="text" class="form-control" formControlName="Machineno" placeholder="Enter Your Machine No" [ngClass]="{ 'is-invalid': submitted && f.Machineno.errors?.invalid }">
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.Machineno">
                                <div class="error-message text-danger" *ngIf="formGroup.get('Machineno').hasError(validation.type) && (formGroup.get('Machineno').dirty || formGroup.get('Machineno').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label>Service Period<p class="p12">*</p></label>
                            <select class="form-control" formControlName="servicePeriod" placeholder="How many month ?">
                                <option value="">Choose month</option>
                                <option *ngFor="let service of servicePeriod;let i=index" value="{{service.month}}"
                                    [selected]="i == 0">{{service.month}} </option>
                            </select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.servicePeriod">
                                    <div class="error-message text-danger" *ngIf="formGroup.get('servicePeriod').hasError(validation.type) && (formGroup.get('servicePeriod').dirty || formGroup.get('servicePeriod').touched)">
                                        <span name="information-circle-outline"></span> {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Warrenty Period<p class="p12">*</p></label>
                            <select class="form-control" formControlName="warrentPeriod" placeholder="How many month ?">
                                <option value="">Choose month</option>
                                <option *ngFor="let Warrenty of warrentyperiod;let i=index"
                                    value="{{Warrenty.totalmonth}}" [selected]="i == 0">{{Warrenty.totalmonth}}
                                </option>
                            </select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.warrentPeriod">
                                    <div class="error-message text-danger" *ngIf="formGroup.get('warrentPeriod').hasError(validation.type) && (formGroup.get('warrentPeriod').dirty || formGroup.get('warrentPeriod').touched)">
                                        <span name="information-circle-outline"></span> {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Date Of Purchased<p class="p12">*</p></label>
                            <input type="text" class="form-control" formControlName="Datepurchased" placeholder="DD/MM/YYYY" bsDatepicker [bsConfig]="dpconfig" [maxDate]="maxDate" [ngClass]="{ 'is-invalid': submitted && f.Datepurchased.errors?.invalid }">
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.Datepurchased">
                                <div class="error-message text-danger" *ngIf="formGroup.get('Datepurchased').hasError(validation.type) && (formGroup.get('Datepurchased').dirty || formGroup.get('Datepurchased').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label>Password<p class="p12">*</p></label>
                            <div class="input-group">
                                <input [type]="passwordfieldTextType ? 'text':'password'" class="form-control" formControlName="password" placeholder="Enter Your password" [ngClass]="{ 'is-invalid': submitted && f.password.errors?.invalid }">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash' : !passwordfieldTextType,'fa-eye' : passwordfieldTextType}"
                                            id="btn11" (click)="toggleFieldTextType($event)"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.password">
                                <div class="error-message text-danger" *ngIf="formGroup.get('password').hasError(validation.type) && (formGroup.get('password').dirty || formGroup.get('password').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group has-success has-feedback">
                            <label class="control-label">Confirm Password<p class="p12">*</p></label>
                            <div class="input-group">
                                <input [type]="confirmfieldTextType ? 'text':'password'" class="form-control" formControlName="confirmPassword" placeholder="ConfirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors ?.invalid }">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash' : !confirmfieldTextType,'fa-eye' : confirmfieldTextType}"
                                            id="btn12" (click)="toggleFieldTextType($event)"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="validation-errors">
                            <div *ngIf="!alert" class="alert alert-warning"><strong>Warning! </strong>Passwords must match
                            </div>
                            <ng-container *ngFor="let validation of validation_messages.confirmPassword">
                                <div class="error-message text-danger" *ngIf="formGroup.get('confirmPassword').hasError(validation.type) && (formGroup.get('confirmPassword').dirty || formGroup.get('confirmPassword').touched)">
                                    <span name="information-circle-outline"></span> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="RegisterButton" [disabled]="!formGroup.valid">
                                Register
                            </button>
                            <button type="reset" class="btn btn-secondary" id="ResetForm">
                                ResetForm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>